nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 242, 125, 0.658);
  text-align: center;
}

nav > img {
  width: 28px;
  margin-right: 12px;
}

.cards-list {
  padding: 1em;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 2em 0;
  max-width: 60%;
  border-bottom: 1px solid #918e9b;
}

.cards:last-child {
  border-bottom: none;
}

.cards--image {
  height: 100%;
  width: 20em;
  border-radius: 0.3em;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  margin-right: 2em;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.cards--image:hover {
  transform: scale(1.2);
}

.cards--location {
  display: flex;
  align-items: center;
  gap: .7em;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
}

.cards--location-compass {
  width: 32px;
}

.cards--location-url {
  color: #918e9b;
  font-size: 0.75rem;
}

.cards--title {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.cards--dates {
  font-weight: 700;
}

.cards--description {
  max-width: 50rem;
  margin-top: 2em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

footer {
  min-height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 218, 247);
  padding: 1.25em 2.25em;
  gap: 2em;
}

footer > small > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}